<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>ESH Waste Mgmt - Spring Controller With WAM</display-name>

    <servlet>
        <servlet-name>spring-mvc-sample-app</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- ...that means it'll look for <servlet-name>-servlet.xml => spring-mvc-sample-app-servlet.xml for context configuration -->

    <servlet-mapping>
        <servlet-name>spring-mvc-sample-app</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>NoSuchRealm</realm-name>
    </login-config>
</web-app>